html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* background-color: rgb(10, 10, 79); */
    
}


body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

.graphContainer{
    background-image: url("../images/gradient.jpeg");
    margin: 0;
}


.wrapper{
    position: relative;
    z-index: 100;
}


ul li{
    list-style-type: none;
    
}

.content {
    width: 75%;
    height: 100%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 90;
    
}
.content2 {
    width: 75%;
    height: 90%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    
}



.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 9px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px black;
    letter-spacing: 2px;
}


/*backgrounds*/


.bodyBackground{
    background-image: url("../images/snowglobe2.jpeg"), url("../images/gradient2.jpg");
    height: 100%;
    width: 100%;
    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    z-index: 100;
}
.aboutUsParallax{
    /* background-color: #013A63; */
    background-image: url("../images/gradient2.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.secondBackground{
    background-image: url("../images/gradient2.jpg"), url("../images/gradient2.jpg");
    height: 100%;
    width: 100%;
    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}
.results{
    height: 10px;
    width: 100%;
    background-color: #6FCAEF;

}


.navBackground{
    background-color: #6FCAEF;
    z-index: 1000;
}


/* text settings */

.text1{
    color: #013A63;
    text-shadow: 1px 1px rgb(211, 216, 222);
}

.text2{
    color: antiquewhite;
    text-shadow: black;
}

.snowText{
    font-family: Frostbitten Wanker;
    color: antiquewhite;
    font-style: normal;
}


.rowHeight{
    height: 450px;
}

.rowHeight2{
    height: 100%;
}

.searchBarContainer {
    display: flex;
    width: 100%; /* Set full-width to expand the whole page */
    height: 300px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-content: center;
}








/* @media(max-width: 786px) {

    .content {
        width: 300px;
        /* height: 100%; */
        /* margin: 4em auto;
        font-size: 20px;
        line-height: 30px;
        display: flex;
        text-align: justify;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 90;
        
    } */

    /* .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}  */

