html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* background-color: rgb(10, 10, 79); */
    
}


body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

ul li{
    text-decoration: none;
    list-style: none;
    display: inline;
}

.graphContainer{
    background-image: url("../images/gradient.jpeg");
    margin: 0;
}


.wrapper{
    position: relative;
    z-index: 100;
}

.content {
    width: 75%;
    height: 100%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 90;
    
}
.content2 {
    width: 75%;
    height: 90%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    
}


.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 9px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px black;
    letter-spacing: 2px;
}


/*backgrounds*/


.bodyBackground{
    background-image: url("../images/snowglobe2.jpeg");
    height: 100vh;
    width: 100vw;
    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
    z-index: 100;
}
.aboutUsParallax{
    /* background-color: #013A63; */
    background-image: url("../images/gradient2.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
}

.secondBackground{
    background-image: url("../images/gradient2.jpg"), url("../images/gradient2.jpg");
    height: 100%;
    width: 100%;
    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}
.results{
    height: 10px;
    width: 100%;
    background-color: #6FCAEF;

}


.navBackground{
    background-color: #6FCAEF;
    z-index: 1000;
}


.techUsed{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;

}
.techUsed2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 120px;

}

.cardBackground{
    background-color: #172C5B;
    width: 100%;
    display: flex;
    justify-content: center;
    border-style: none;
}


.cardBackground2{
    background-color: #172C5B;
    border-style: none;
}
.cardBackground3{
    background-color: #61BCE8
}



/* text settings */

.text1{
    color: #61BCE8;
    font-family:monospace;
    text-shadow: 1px 1px rgb(16, 52, 87);
    text-align: center;
}

.text2{
    color: antiquewhite;
    text-shadow: 1px 1px rgb(150, 150, 150);
}

.snowText{
    font-family: Frostbitten Wanker;
    color: antiquewhite;
    font-style: normal;
    text-shadow: 2px 2px rgb(16, 52, 87);
}
.snowText2{
    font-family: Frostbitten Wanker;
    color: antiquewhite;
    font-style: normal;
    font-size: 25px;
}


.sportsText{
    font-family: KR Winter Sports;
    color: #00B4D8;
    font-style: normal;
    font-size: 75px;
    border: 2px 2px black;
}

@font-face {
    font-family: 'Frostbitten Wanker';
    src: url('../frostbitten-wanker-font/FrostbittenWanker-1R32.ttf');
}

@font-face{
    font-family: 'KR Winter Sports';
    src: url('../kr-winter-sports/KR\ Winter\ Sports.ttf');
}


.rowHeight{
    height: 450px;
}

.rowHeight2{
    height: 100%;
}

.rowHeight3{
    height: 250px;
}

.searchBarContainer {
    display: flex;
    width: 100%; /* Set full-width to expand the whole page */
    height: 200px;
    overflow: visible;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 1000;
}

.fa-li { /* font awesome icons */
    margin: 10px 0;
}


@media(max-width: 786px) {

    .content {
        width: 300px;
        height: 100%;
        margin: 4em auto;
        font-size: 20px;
        line-height: 30px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 90;
        
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        margin-top: 16px;
    }


    .z1{
        z-index: 100;
        position: absolute;
    }

    .z2{
        z-index: 100;
        position: absolute;
    }
}