body {
    margin: 0;
    padding: 0;
    }

    #map {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    width: 100%;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    }
    .marker {
    background-image: url('../images/snowflake.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    }
    .userMarker {
    background-image: url('../images/userpos.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    }
    .mapboxgl-popup {
    max-width: 200px;
    }

    .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }

    .map.mapCircle {
        width: 60%;
        height: 90%;
    }
    .mapCircle>div>div:first-child {
        border-radius: 338px;
        -webkit-border-radius: 338px;
        -moz-border-radius: 338px;
    }

    .activity_rounded {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -khtml-border-radius: 50%;
    }
    
    .activity_rounded img  {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -khtml-border-radius: 50%;
        vertical-align: middle;
    }
    .skiMarker {
        background-image: url('../images/snowflake.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        }