nav {
    position: top;
    width: 100%;
    line-height: 60px;
    z-index: 1000;
    display: inline;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    /* padding-right: 40px; */
    transition: 1s;
}


nav ul li {
    display: inline-block;
    padding: 8px 2px;;
}

nav ul li {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px black;
    line-height: 60px;
    margin: 16px 46px;
    color: #fff;
    letter-spacing: 2px;
}

nav a:hover{
    text-decoration: none;
    color: white;
}

nav a{
    color: white;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.headerAlign{
    display: flex;
    justify-content: space-between;
}